<%= form_for(@shipment) do |f| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% @shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div id="pattern" class="pattern">
    <div class="col-group">
			<div class="left">
			  <div class="field">
			    <%= f.label :address_type, "Ship to Address" %><br>
			    <%= f.select :address_type, ADDRESS_TYPES %>
			  </div>
			  <div class="field">
			    <%= f.label :company %><br>
			    <%= f.text_field :company %>
			  </div>
			  <div class="field">
			    <%= f.label :attention %><br>
			    <%= f.text_field :attention %>
			  </div>
			  <div class="field">
			    <%= f.label :address1 %><br>
			    <%= f.text_field :address1 %>
			  </div>
			  <div class="field">
			    <%= f.label :address2 %><br>
			    <%= f.text_field :address2 %>
			  </div>
			  <div class="field">
			    <%= f.label :address3 %><br>
			    <%= f.text_field :address3 %>
			  </div>
			  <div class="field">
			    <%= f.label :city %><br>
			    <%= f.text_field :city %>
			  </div>
			  <div class="field">
			    <%= f.label :state %><br>
			    <%= f.select :state, STATES %>
			  </div>
			  <div class="field">
			    <%= f.label :zip %><br>
			    <%= f.text_field :zip, :size => "12" %>
			  </div>
			  <div class="field">
			    <%= f.label :country %><br>
			    <%= f.text_field :country %>
			  </div>
			  <div class="field">
			    Addressee <%= f.label :email %><br>
			    <%= f.text_field :email, :size => "30" %>
			  </div>
			  <div class="field">
			    Addressee <%= f.label :telephone %><br>
			    <%= f.text_field :telephone, :size => "15" %>
			  </div>
			</div>
			<div class="right">
			  <div class="field">
			    <%= f.label :sender_name %><br>
			    <%= f.text_field :sender_name %>
			  </div>
			  <div class="field">
			    <%= f.label :sender_email %><br>
			    <%= f.text_field :sender_email, :size => "30" %>
			  </div>
			  <div class="field">
			    <%= f.label :sender_phone %><br>
			    <%= f.text_field :sender_phone, :size => "15" %>
			  </div>
			  <div class="field">
			    <%= f.label :changepoint_code %><br>
			    <%= f.text_field :changepoint_code %>
			  </div>
			  <div class="field">
			    <%= f.label :delivery, "Delivery preferences" %><br>
			    <%= f.select :delivery, DELIVERY_TYPES %>
			  </div>
			  <div class="js-dependent-fields" data-select-id="shipment_delivery" data-option-value="I will specify">
			  	<div class="field">
			    	<%= f.label :delivery_specifics, "Specify delivery information" %><br>
						<%= f.text_field :delivery_specifics %>
					</div>
			  </div>
			  <div class="field">
			    <%= f.label :return_label, "Return label?" %><br>
			    <%= f.check_box :return_label %>
			  </div>
			  <div class="js-dependent-fields" data-checkbox-id="shipment_return_label" data-checkbox-value="true">
					<p style="color:red;">List return address in "special instructions"</p>
				</div>
			  <div class="field">
			    <%= f.label :signature, "Signature required?" %><br>
			    <%= f.check_box :signature %>
			  </div>
			  <div class="field">
			    <%= f.label :insurance, "Insurance?" %><br>
			    <%= f.check_box :insurance %>
			  </div>
			  <div class="js-dependent-fields" data-checkbox-id="shipment_insurance" data-checkbox-value="true">
			  	<div class="field">
			    	<%= f.label :insurance_amount %><br>
						<%= f.text_field :insurance_amount %>
					</div>
			  </div>
			  <div class="field">
			    <%= f.label :contents, "Please list shipment contents" %><br>
			    <%= f.text_area :contents, :cols => "40", :rows => "8" %>
			  </div>
			</div>
		</div>
		<div class="clear"></div>
	  <div class="field">
	    <%= f.label :instructions, "Please list special instructions" %><br>
	    <%= f.text_area :instructions, :cols => "80", :rows => "5" %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	</div>
<% end %>
